.Fragebogen {
  color: #fff;

}

button{
  min-width: 40%;
  min-height: 20%;
  border-radius: 3px;
  background-color: aquamarine;
  border: none;
  color: black;
  font-size: medium;
  text-transform: uppercase;

}